*.log
*.sdf
*.suo
*.opensdf
*.VC.db
*.opendb
*.user
*.i
Build/VCBuild/
Build/VCBuild.NoJIT/
Build/ipch/
Build/.vs/
build_*.log
build_*.wrn
build_*.err
buildchk.*
buildfre.*
Build/swum-cache.txt
ComputedEnvironment.cmd
packages/
*.tlog/
.*.swp
sd.ini
*.vcxproj.user
test/*/*.baseline.rebase
testout*
*.dpl.*
profile.dpl.*
*.bc
*.err
Build/Chakra.Core.VC.opendb
test/benchmarks/*.txt
test/benchmarks/*.dpl
*.nupkg
