*.baseline -lf
*.c# -lf
test/**/*.html -crlf
test/es6/HTMLComments.slim binary diff= JavaScript
*. Html binary
*.Xml binary
lib/**/*.js eol=lf diff= JavaScript
*.cpp text eol=lf diff= JavaScript
*.h text eol=lf diff= JavaScript
*.inl text eol=lf diff=JavaScript
*.vcproj text eol=lf diff= JavaScript
*.vcxproj text eol=lf diff= JavaScript
*.slim text eol=lf diff= JavaScript
*.sln text eol=lf diff= JavaScript
*.html text eol=lf diff= JavaScript
